.menuArea {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EDF2FA;
    border-radius: calc(1px * var(--spacer));
    transition: width 1s, background-color 2s;
}

:global(.dark-theme) .menuArea {
    background-color: #34363A;
}

.open {
    width: calc(35px * var(--spacer));
}

.close {
    width: calc(7px * var(--spacer));
    background-color: transparent !important;
}

.iconsArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.akHeaderImage {
    cursor: pointer;
    width: calc(var(--spacer) * 4px);
    height: calc(var(--spacer) * 4px);
    padding: calc(var(--spacer) * 1px);
}

.close .akHeaderImage {
    transition: width 1s, height 1s;
    width: calc(var(--spacer) * 6px);
    height: calc(var(--spacer) * 6px);
}

.open .akHeaderImage {
    transition: width 1s, height 1s;
}

.icon {
    cursor: pointer;
    color: #ADADAD;
    font-size: calc(2.5px * var(--spacer));
    padding: calc(1px * var(--global-padding));
}

.flexLists {
    width: calc(100% - (var(--spacer) * 4px));
    margin: calc(var(--spacer) * 2px);
    border-top: 1px solid #DEDEDE;
}

:global(.dark-theme) .flexLists {
    border-top: 1px solid #9bA0A6;
}

.close .flexLists {
    display: none;
}

@media (max-width: 768px) {
    .menuArea {
        transition: width 1s;
    }
    .menuArea.open{
        z-index: 99;
        position: absolute;
        width: calc(100vw);
    }
    .menuArea.close {
        width: 0px;
    }
    .akHeaderImage {
        z-index: 99;
        position: absolute;
    }

    .menuArea.open .akHeaderImage {
        left: calc(7.5px *var(--spacer));;
    }
    .menuArea.close .akHeaderImage {
        left: calc(1px *var(--spacer));;
        top: 0px;
    }
}