.mainBoard {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: calc(1px * var(--global-padding));
    width: calc(100vw - (35px * var(--spacer)) - (2px * var(--global-padding)));
}

.banner {
    width: 100%;
    background-size: contain;
    height: calc(20px * var(--spacer));
    border-radius: calc(1px * var(--spacer));
    background-image: url("../../assets/shapes-light.png");
    width: calc(100vw - (35px * var(--spacer)) - (2px * var(--global-padding)));
}