.tasklistBoard {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(5px * var(--spacer)) 0px 0px;
}

.taskListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EDF2FA;
    min-height: calc(12px * var(--spacer));
    border-radius: calc(1px * var(--spacer));
    padding: calc(2px * var(--spacer)) calc(1.5px * var(--spacer));
    margin: calc(1px * var(--spacer)) calc(1.5px * var(--spacer));
}

:global(.dark-theme) .taskListContainer {
    background-color: #34363A;
}

.taskStatusTitle {
    width: 100%;
    height: 14px;
    font-weight: 500;
    color: #63728B;
    text-align: left;
    line-height: 14px;
    box-sizing: border-box;
    padding: 0px calc(1px * var(--spacer));
    font-size: calc(1.5px * var(--spacer));
    margin: 0px 0px calc(1px * var(--spacer));
}

:global(.dark-theme) .taskStatusTitle {
    color: var(--font-color-h4-dark);
}

.taskDataContainer {
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgb(23, 43, 77);
    background-color: #FFFFFF;
    justify-content: space-between;
    box-shadow: var(--shadow-medium);
    margin: calc(0.5px * var(--spacer)) 0px;
    line-height: calc(2.5px * var(--spacer));
    border-radius: calc(.5px * var(--spacer));
    padding: calc(1px * var(--global-padding));
}

:global(.dark-theme) .taskDataContainer {
    background-color: #22272B;
    color: var(--font-color-text-dark);
    box-shadow: var(--shadow-medium-dark);
}

.taskList {
    overflow-y: scroll;
    height: 100%;
}

.taskList::-webkit-scrollbar {
    display: none;
}

.activeDropBox {
    border-radius: 4px;
    border: 2px dotted var(--primary);
}

.listIcons {
    display: none;
    color: #777777;
}

.taskDataContainer:hover .listIcons {
    display: block;
}

.listIcons:active {
    opacity: 0.6;
}

.iconsArea {
    display: flex;
    flex-direction: row;
}

.low {
    color: green;
}
.medium {
    color: green;
}
.high {
    color: red;
}
.very_high {
    color: red;
}

@media (max-width: 768px) {
    .tasklistBoard {
        flex-direction: column;
        margin: calc(1px * var(--spacer)) 0px 0px;
    }

    .taskListContainer {
        width: auto;
        margin: 0px;
        height: 100%;
        min-height: auto;
        margin-top: calc(1.5px * var(--global-padding));
    }
}