.editPanel {
    width: calc(var(--spacer) * 40px);
    position: fixed;
    z-index: 999;
    height: 100%;
    right: 0px;
    top: 0px;
}

:global(.dark-theme) .editPanel {
    background-color: #34363A;
    color: var(--secondaryTextColor);
}

:global(.light-theme) .editPanel {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
}

.editArea {
    padding: calc(var(--spacer) * 2px);
}

.editTitle {
    display: flex;
    padding-bottom: 16px;
    justify-content: space-between;

    & span {
        font-size: 20px;
    }
}

.closeIcon {
    cursor: pointer;
    font-size: 24px;
}

.editBody {
    overflow: auto;
    height: calc(100vh - (var(--spacer) * 16px));
}

.editFooter {
    bottom: 16px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    width: calc(var(--spacer) * 36px);
    background-color: var(--primaryBackgroundColor);

    & button {
        margin: auto;
    }
}

:global(.dark-theme) .editFooter {
    background-color: transparent
}

:global(.light-theme) .label {
    color: var(--font-color-text-light);
}

:global(.dark-theme) .label {
    color: var(--font-color-text-dark);
}

.titleInput {
    border: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin: 8px 0px 16px 0.5px;
    box-shadow: var(--shadow-medium);
    height: calc(var(--spacer) * 4px);
    line-height: calc(2.5px* var(--spacer));
    width: calc(100% - (var(--spacer) * 2.5px));
}

.selectInput {
    border: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin: 8px 0px 16px 0.5px;
    box-shadow: var(--shadow-medium);
    height: calc(var(--spacer) * 5px);
    line-height: calc(2.5px* var(--spacer));
    width: calc(100% - (var(--spacer) * 0.5px));
}

.descriptionInput {
    border: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin: 8px 0px 16px 0.5px;
    box-shadow: var(--shadow-medium);
    height: calc(var(--spacer) * 10px);
    line-height: calc(2.5px* var(--spacer));
    width: calc(100% - (var(--spacer) * 2.5px));
}

.label {
    font-weight: 500;
    line-height: 20px;
    font-size: calc(1.7px* var(--spacer));
}

@media (max-width: 768px) {
    .editPanel {
        width: 100%;
    }
    .editFooter {
        width: 90%;
    }
}